[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pandas = "*"
plotly = "*"
numpy = "*"
scipy = "*"

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
rope = "*"
"e1839a8" = {path = ".", editable = true}

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.6"
